.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
    input {
        visibility: hidden;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.container-fluid {
    width: 93%;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    button {
        margin-top: 30px;
        margin-right: 10px;
        border-radius: 0px;
    }
    input {
        margin-bottom: 10px;
    }
    .gallery {
        margin-top: 20px;
        img {
            margin: 2px;
            min-height: 200px;
            max-height: 400px;
            min-width: 200px;
            max-width: 400px;
            margin-bottom: 20px;
        }
    }
}