.container-fluid {
    height: 80vh;
    .card {
        margin-top: 30px;
        margin-bottom: 30px;
        button {
            margin-top: 30px;
            margin-right: 10px;
            border-radius: 0px;
        }
        input {
            margin-bottom: 10px;
            font-size: 13px;
        }
        .gallery {
            margin-top: 20px;
            .row img {
                cursor: pointer;
                margin-left: 15px;
                max-height: 150px;
                max-width: 150px;
                margin-bottom: 20px;
            }
            .modal-body {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-height: 400px;
                    max-width: 450px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                max-height: 200px !important;
                max-width: 200px !important;
            }
        }
    }
}