<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="myForm" action="https://formspree.io/lobby@asha.co.ke">
                <h5>Get in Touch with Us</h5><br>
                <input type="text" name="name" placeholder="Fullname"><br>
                <input type="text" name="name" placeholder="Email"><br>
                <textarea id="textarea" name="name" placeholder="Message"></textarea><br><br>
                <button type="submit" class="btn btn-info">Send Message</button>
            </form>
        </div>
        <div class="row">
            <div class="social">
                <p>Find us on:</p><a href="https://www.instagram.com/alazetu/"><i class="fab fa-instagram fa-2x"></i></a>
                <hr>
                <p>Alazetu &copy; &nbsp; All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>