<app-frontend-navbar></app-frontend-navbar>
<app-hero-section></app-hero-section>
<div class="articles">
    <div class="container">
        <div class="row mb-4">
            <div *ngFor="let post of blogposts" class="col md-4 mb-4">
                <div class="card" style="width: 15rem;">
                    <img [src]="post.path" style="height: 150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <hr>
                        <p class="card-text">{{post.content}}</p>
                        <button type="button" (click)="readMore(post.ID)" class="btn btn-info sm">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>