<div class="hero-section">
    <img src="/assets/images/logo.png">
    <div class="container">
        <h4>Everything Music</h4>
        <p>At Alazetu our focus is to innovate hardware and software products for everything music.</p>
        <p>Sign Up to get Alazetu product announcements, music articles, fun facts and music playing tips sent to your email.
        </p>
        <button type="button" class="btn btn-info" onclick="window.location.href='http://eepurl.com/gEdodX'">Sign Up</button>
    </div>
</div>