     .card {
         margin-top: 30px;
         margin-bottom: 40px;
         input[type="text"],
         textarea {
             outline: none;
             border: 2px solid black;
             box-shadow: none !important;
         }
         input {
             font-size: 13px;
             border-radius: 0px;
         }
         .gallery {
             margin-top: 20px;
             img {
                 height: 100px;
                 width: 100px;
                 margin-bottom: 20px;
             }
         }
         button {
             border-radius: 0px;
             margin-right: 5px;
             outline: none;
         }
     }