<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Add Article
        </div>
        <div class="card-body">
            <button type="button" *ngIf="displayGallery == false" (click)="gallery()" style="margin-bottom: 20px" class="btn btn-info sm">Choose Photo</button>
            <button type="button" *ngIf="displayGallery == true" (click)="gallery()" style="margin-bottom: 20px" class="btn btn-info sm">Hide Photos</button>
            <button type="button" routerLink="/gallery" style="margin-bottom: 20px" class="btn btn-success sm">Upload Photo</button>
            <div *ngIf="displayGallery == true" class="gallery">
                <div class="row">
                    <div *ngFor="let url of urls" class="col-md-4">
                        <a (click)="choosePhoto(url)"><img [src]="url"></a>
                    </div>

                </div>
                <h4 *ngIf="selectedPhoto">Selected Photo</h4>
                <div *ngIf="selectedPhoto" class="row">
                    <div class="col-md-6">
                        <div class="selected">
                            <img src={{selectedPhoto}}>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted == true && selectedPhoto == null" class="message">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{alert}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <form [formGroup]="articleForm">
                <div class="form-row mb-4">
                    <div class="col-md-12">
                        <input type="text" placeholder="Title" #title formControlName="title" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.title.errors}" autofocus>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback ">
                            <div *ngIf="f.title.errors.required ">Title is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" spellcheck="true" #summary formControlName="summary" placeholder="A summary of the article" [ngClass]="{ 'is-invalid': submitted && f.summary.errors}"></textarea>
                    <div *ngIf="submitted && f.summary.errors" class="invalid-feedback ">
                        <div *ngIf="f.summary.errors.required">Summary is required</div>
                    </div>
                </div>
                <ckeditor #editor formControlName="editor" [editor]="Editor" (change)="onChange($event)" tagName="textarea" [ngClass]="{ 'is-invalid': submitted && f.editor.errors}"></ckeditor>
                <div *ngIf="submitted && f.editor.errors" class="invalid-feedback ">
                    <div *ngIf="f.editor.errors.required ">Editor is required</div>
                </div>
                <button type="submit" class="btn btn-success sm" (click)="createArticle(title.value, summary.value)">Publish</button>
            </form>
        </div>
    </div>
</div>