<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Create Article
        </div>
        <div class="card-body">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"> 
                Choose Article Photo 
            </button>
            <button type="button" routerLink="/gallery" class="btn btn-success sm">Upload Photo</button>

            <div class="collapse gallery" id="collapseExample1">
                <div class="row">
                    <div *ngFor="let url of urls" class="col-md-2">
                        <a (click)="chooseArticlePhoto(url)"><img [src]="url"></a>
                    </div>
                </div>
            </div>

            <div *ngIf="submitted == true && selectedPhoto == null" class="message">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message1}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div *ngIf="submitted == true && authorPhoto == null" class="message">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message2}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="gallery">
                <h6 *ngIf="selectedPhoto">Selected Article Photo :</h6>
                <div *ngIf="selectedPhoto" class="row">
                    <div class="col-md-6">
                        <div class="selected">
                            <img src={{selectedPhoto}}>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="articleForm">
                <div class="form-row mb-4">
                    <div class="col-md-12">
                        <input type="text" placeholder="Title" #title formControlName="title" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.title.errors}" autofocus>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback ">
                            <div *ngIf="f.title.errors.required ">Title is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" spellcheck="true" #summary formControlName="summary" placeholder="A summary of the article" [ngClass]="{ 'is-invalid': submitted && f.summary.errors}"></textarea>
                    <div *ngIf="submitted && f.summary.errors" class="invalid-feedback ">
                        <div *ngIf="f.summary.errors.required">Summary is required</div>
                    </div>
                </div>
                <ckeditor #editor formControlName="editor" [editor]="Editor" (change)="onChange($event)" tagName="textarea" [ngClass]="{ 'is-invalid': submitted && f.editor.errors}"></ckeditor>
                <div *ngIf="submitted && f.editor.errors" class="invalid-feedback ">
                    <div *ngIf="f.editor.errors.required ">Editor is required</div>
                </div>
                <div class="form-group bio">
                    <textarea class="form-control" spellcheck="true" #bio formControlName="bio" placeholder="Author's Bio" [ngClass]="{ 'is-invalid': submitted && f.bio.errors}"></textarea>
                    <div *ngIf="submitted && f.bio.errors" class="invalid-feedback ">
                        <div *ngIf="f.bio.errors.required">Author's bio is required</div>
                    </div>
                </div>
            </form>
            <p>
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Choose Author Photo
                </button>
            </p>
            <div class="collapse gallery" id="collapseExample">
                <div class="row">
                    <div *ngFor="let url of urls" class="col-md-2">
                        <a (click)="chooseAuthorPhoto(url)"><img [src]="url"></a>
                    </div>
                </div>

            </div>
            <div class="gallery">
                <h6 *ngIf="authorPhoto">Selected Author Photo</h6>
                <div *ngIf="authorPhoto" class="row">
                    <div class="col-md-6">
                        <div class="selected">
                            <img src={{authorPhoto}}>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success sm" (click)="createArticle(title.value, summary.value, bio.value)">Publish</button>
        </div>
    </div>
</div>
<app-backend-footer></app-backend-footer>