.container {
    .card {
        margin-top: 30px;
        margin-bottom: 30px;
        img {
            max-height: 350px;
        }
        button {
            border-radius: 0px;
            margin-right: 5px;
        }
    }
}