$button: #ffff00;
.all {
    background-image: url("/assets/images/background2.png");
    background-size: cover;
    background-position: center center fixed;
    background-repeat: no-repeat;
}

#product {
    min-height: 200px;
    padding-top: 30px;
    .card {
        min-height: 200px;
        text-align: center;
        background-image: url("/assets/images/product-background.jpg");
        background-size: cover;
        background-position: center center fixed;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 200px;
        }
        p {
            margin-top: 20px;
        }
    }
}

.articles {
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .row {
            button {
                border-radius: 0px;
            }
            .card-title {
                font-weight: 600;
            }
            .card-text {
                font-size: 13px;
            }
        }
        button {
            color: black;
            border-radius: 0px;
            background-color: $button;
            border: 2px solid $button;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 768px) {
    .all {
        background-image: url("/assets/images/background3.png");
        background-size: 100% 100%;
        background-position: center center fixed;
        background-repeat: no-repeat;
    }
    .product {
        .card {
            width: 18rem;
        }
    }
    .container {
        .card {
            margin: 0 auto;
            width: 15rem !important;
        }
    }
}